# Maven
target/
*.jar
*.war
*.ear
*.class
dependency-reduced-pom.xml
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

